

body {
    margin: auto;
    font-family: "Arial", Gadget, sans-serifs;
    text-align: center;
    padding-bottom: 100px;
}

th, td {
    border: 1px solid #ddd;
}

td {
    text-align: right;
    background-color: ghostwhite; 
}

input:hover {
    background-color: lightgrey;
}

th {
    background-color: lightslategray;
    color: black;
}

h1 {
    color: white;
}

h3 {
    text-align: center;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}
